name: node compile

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  UI_IMAGE_NAME: metaops/kassette-transformer



jobs:
  build:
    runs-on: self-hosted  
    steps:
    - uses: actions/checkout@v3
    - name: list files
      run: ls -la 
    - name: current dir
      run: pwd
    - name: Build docker image for kassete-transformer
      run:  docker build . --file Dockerfile --tag ${{ env.UI_IMAGE_NAME }}:latest
    - name: docker push agent
      run: docker push ${{ env.UI_IMAGE_NAME }}:latest
